aiohttp==3.11.14
alembic==1.14.1
anyio==4.8.0
bcrypt==4.0.1
email_validator==2.2.0
fastapi==0.110.1
httpx==0.28.1
passlib==1.7.4
pydantic==2.6.4
pydantic_core==2.16.3
python-jose==3.3.0
python-multipart==0.0.20
SQLAlchemy==2.0.36
starlette==0.36.3
typing_extensions==4.12.2
uvicorn==0.27.1
